*{
  margin: 0;
  padding: 0;

}
html{
  overflow-x: hidden;
}
body{
  font-family: 'Arial',sans-serif;
  font-size: 14px;
  background: #ECEDF1;
  overflow-x: hidden;
}
.container{
  width: 100%;
  padding: 0 25px;
}